* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  scroll-behavior: smooth;

  @font-face {
    font-family: Roboto-Regular;
    src: url('./assets/fonts/roboto/Roboto-Regular.ttf');
  }

  @font-face {
    font-family: Roboto-Medium;
    src: url('./assets/fonts/roboto/Roboto-Medium.ttf');
  }

  @font-face {
    font-family: RobotoCondensed-Light;
    src: url('./assets/fonts/roboto-condensed/RobotoCondensed-Light.ttf');
  }

  @font-face {
    font-family: RobotoCondensed-Regular;
    src: url('./assets/fonts/roboto-condensed/RobotoCondensed-Regular.ttf');
  }
}

body {
  background-image: linear-gradient(90deg, #3b3dc5 25%, #ef820d 95%);
}

@media only screen and (max-width: 1400px) {
  body {
    background: #3b3dc5;
  }
}
